<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>studentPages</param-name>
        <param-value>/Student,/Student/FindCourseAction,/Student/Course/View,/Student/Query/View,/Student/Query/PostAction,/Student/Query/ReplyAction,/Student/SendFeedbackAction</param-value>
    </context-param>
    <context-param>
        <param-name>adminPages</param-name>
        <param-value>/admin/StudentManage,/admin/CourseManage,/admin/Course/FindAction,/admin/Course/Edit,/admin/Course/UpdateAction,/admin/Course/Info,/admin/Block,/admin/Unblock,/admin/MessageManage,/admin/Message/Post,/admin/Message/PostAction,/admin/Message/Edit,/admin/Message/EditAction,/admin/Message/Remove,/admin/Message/Publish,/admin/Message/Unpublish,/admin/FeedbackManage,/admin/FacultyManage,/admin/Faculty/Info,/admin/Faculty/Edit,/admin/Faculty/UpdateAction</param-value>
    </context-param>
    <context-param>
        <param-name>facultyPages</param-name>
        <param-value>/Faculty,/Faculty/Query/View,/Faculty/Query/ResponseAction</param-value>
    </context-param>
    <context-param>
        <param-name>comonPages</param-name>
        <param-value>/Query/RemoveAction</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
