@import "fonts.css";
@import "custom.css";

body {
    background: #311600;
}

#mainBlock {
    width: 710px;
    margin: 30px auto;
    overflow: hidden;
}

#notificationBlock {
    width: 700px;
    height: 55%;
}

#notificationBlock .blockTitle {
    background: transparent url('../notification.png') left center no-repeat;
    padding-left: 55px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
}

#notificationBlock .blockContent {
    height: 75%;
    position: relative;
}

#notificationBlock .blockContent div {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #B91D1E;
    display: none;
}

#notificationBlock .navigator {
    border-top: 1px solid #C24747;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

#notificationBlock .navigator .next {

}

#notificationBlock .navigator .previous {

}

#login {
    width: 345px;
    height: 150px;
}

#login a {
    overflow: hidden;
    display: block;
}

#login:hover {
    background-color: #A1C55B;
}

#login, #login:hover {
    webkit-transition-property: background color; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease;
    -moz-transition-property: background color;	-moz-transition-duration: 0.5s;	-moz-transition-timing-function: ease;
    -o-transition-property: background color; -o-transition-duration: 0.5s;	-o-transition-timing-function: ease;
    -ms-transition-property: background color; -ms-transition-duration: 0.5s; -ms-transition-timing-function: ease;
    transition-property: background color; transition-duration: 0.5s; transition-timing-function: ease;
}

#login .blockTitle {
    background: transparent url('../login.png') left center no-repeat;
    padding-left: 55px;
    line-height: 130px;
    margin-bottom: 5px;
    display: inline-block;
}

#contact {
    width: 345px;
    height: 150px;
}

#contact a {
    overflow: hidden;
    display: block;
}

#contact:hover {
    background-color: #507ABE;
}

#contact, #contact:hover {
    webkit-transition-property: background color; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease;
    -moz-transition-property: background color;	-moz-transition-duration: 0.5s;	-moz-transition-timing-function: ease;
    -o-transition-property: background color; -o-transition-duration: 0.5s;	-o-transition-timing-function: ease;
    -ms-transition-property: background color; -ms-transition-duration: 0.5s; -ms-transition-timing-function: ease;
    transition-property: background color; transition-duration: 0.5s; transition-timing-function: ease;
}


#contact .blockTitle {
    background: transparent url('../contact.png') left center no-repeat;
    padding-left: 55px;
    line-height: 130px;
    margin-bottom: 5px;
    display: inline-block;
}
